@import "./base.scss";

#app {
  height: $full;
}

#mav-menu-container {
  .iconfont {
    font-size: 24px !important;
  }
}

:where(.css-dev-only-do-not-override-279b8q).ant-table-wrapper
  .ant-table-thead
  > tr
  > th,
:where(.css-dev-only-do-not-override-279b8q).ant-table-wrapper
  .ant-table-thead
  > tr
  > td {
  background-color: #009ceb0f;
  padding: 12px 16px;
}

:where(.css-dev-only-do-not-override-279b8q).ant-table-wrapper
  .ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before,
:where(.css-dev-only-do-not-override-279b8q).ant-table-wrapper
  .ant-table-thead
  > tr
  > td:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before {
  height: 100%;
  background-color: #fff;
}

.ant-table-cell,
white-s-nowrap {
  white-space: nowrap;
}

th[hassubcolumns="true"] {
  border-bottom: 2px solid #fff !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  border-right: 1px solid #fff;
}

tr + tr > th {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

a {
  color: $primary;
}

:where(.css-dev-only-do-not-override-279b8q).ant-radio-wrapper {
  margin-right: 24px;
}

:where(.css-dev-only-do-not-override-279b8q).ant-modal .ant-modal-title {
  font-weight: normal;
}

.custom-ant-btn-primary {
  color: #fff;
  background-color: #009ceb;
  box-shadow: 0 2px 0 rgb(5 215 255 / 10%);
  font-size: 14px;
  height: 32px;
  padding: 4px 15px;
  border-radius: 2px;
  outline: none;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  //   background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  touch-action: manipulation;
  line-height: 1.5714285714285714;
  color: #fff;
}

.primary-title-tab {
  width: 4px;
  height: 12px;
  margin-right: 4px;
  background-color: $primary;
}
